.container {
    position: relative;
    padding-top: 14%;
    margin-left: 10%;
    display: flex;
    width: 80%;
}

.welcome {
    font-weight: lighter;
    font-size: 1.5rem;
}

.name {
    color: #ff014f;
}

.details {
    font-size: 2.9rem;
}

.left-data {
    width: 50%;
}

.right-data {
    margin-top: 7rem;
    width: 50%;
    display: flex;
    justify-content: center;
}

.neon-button {
    width: 10rem;
    height: 4rem;
    font-size: 16px;
    font-weight: bold;
    color: #ff014f;
    background-color: transparent;
    border: 2px solid #ff014f;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.neon-button:hover {
    box-shadow: 0 0 10px #ff014f, 0 0 20px #ff014f, 0 0 30px #ff014f;
}

@media(min-width:1200px) {


    .left-data {
        width: 60%;
    }

    .right-data {
        width: 40%;
    }
}

@media(min-width:900px)and (max-width:1100px) {
    .container {
        margin-top: 30%;
        margin-left: 5%;
        padding: 0;
        width: 100%;
    }

    .welcome {
        font-size: 1.5rem;
    }

    .details {
        font-size: 2.4rem;
    }

    .left-data {
        width: 60%;
    }

    .right-data {
        width: 40%;
        margin-top: 4rem;
        display: block;
        margin-left: 1rem;
    }
}

@media(min-width:768px)and (max-width:900px) {
    .container {
        margin-top: 30%;
        margin-left: 5%;
        padding: 0;
        width: 100%;
    }

    .welcome {
        font-size: 1.3rem;
    }

    .details {
        font-size: 2.1rem;
    }

    .left-data {
        width: 60%;
    }

    .right-data {
        margin-top: 4rem;
        display: block;
        width: 40%;
        margin-left: 2rem;
    }
}

@media(max-width: 767px) {
    .container {
        top: 20%;
        flex-direction: column;
        width: 95%;
        margin-left: 5%;
    }

    .left-data,
    .right-data {
        width: 100%;
    }

    .welcome {
        font-size: 1rem;
    }

    .details {
        font-size: 1.8rem;
    }

    .right-data {
        margin-top: 0;
        display: block;
    }

    .neon-button {
        width: 12rem;
        height: 4rem;
        font-size: 14px;
        margin-top: 20px;
    }
}

@media(max-width:350px) {
    .details {
        font-size: 1.5rem;
    }

    .welcome {
        font-size: 0.8rem;
    }
}