.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}


.left-side {
    font-size: 1.7rem;
    margin-left: 10%;
}

.left-side a {
    text-decoration: none;
    color: #161616;
}

.right-side {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.navbar .right-side .nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 0.8rem;
}

.link {
    text-decoration: none;
    color: #161616;
}

.link:hover {
    color: #333333;
}

.nav-links .link {
    text-decoration: none;
    color: black;
    padding: 10px;
    position: relative;
}

.nav-links .link::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: black;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    margin-left: 7px;
}

.nav-links .link:hover::after {
    width: 100%;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

@media(min-width:768px)and (max-width:830px) {
    .left-side {
        margin-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    .left-side {
        display: none;
    }

    .navbar {
        background-color: #fff;
        width: 100%;

    }

    .nav-links {
        display: none;
        position: absolute;
        top: 99%;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 10;
    }

    .nav-links.active {
        display: block;
        flex-direction: column;
    }

    .nav-links ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .navbar .right-side .nav-links ul {
        display: block;
    }

    .nav-links ul li {
        margin-bottom: 10px;
    }

    .link {
        text-decoration: none;
        color: #333;
        padding: 10px;
        display: block;
    }

    .link:hover {
        background-color: #f0f0f0;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        width: 100%;

        padding: 10px;
    }

    .hamburger-menu svg {
        color: #333;
        font-size: 24px;
    }
}